html,
body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: "Dosis", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #527885;
}

.principal {
  display: none;
}

.container {
  padding: 10px;
  border: 2px solid #908c96;
  border-radius: 10px;
  background-color: #908c96;
}

.paginas {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.pagina {
  display: flex;
  border: 0.1px solid #0f0e0e;
  padding: 10px;
  border-radius: 10px;
  background-color: #9c9697;
  cursor: pointer;
}

.pagina a {
  display: flex;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: none;
  color: #f4eef4;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-direction: column;
}

.pagina:hover {
  background-color: #a50031;
  box-shadow: 3px 3px 3px 3px;
}

i {
  font-size: 25px;
  color: #f4eef4;
}

span {
  font-weight: 300;
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 10px;
}

canvas {
  width: 100%;
}

.campos {
  display: flex;
  justify-content: space-between;
}

h2 {
  text-align: center;
  margin: 0;
}

.dias {
  height: 30px;
  text-align: center;
}
.dia {
  text-align: center;
  border: 2px solid black;
  margin: 2px;
}

.cuerpo {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 10px;
}

.uno {
  grid-column: 2/3;
}

.cabecera .dias:nth-child(2n + 1) {
  background-color: #a50031;
}

span {
  font-style: italic;
}
